
@{
    ViewData["Title"] = "City Admin";
}

<h1>City Admin</h1>

<div class="citiesContainer">

</div>


<p>Bucharest</p>
<p>Union Square</p>

<table>
    <tr>
        <th>Parking Lot</th>
        <th>Parking Spaces</th>
    </tr>
    <tr>
        <td>Alfreds Faste</td>
        <td>Maria Anders</td>
    </tr>
    <tr>
        <td>Alfreds</td>
        <td>Maria Anders</td>
    </tr>
</table>


@section Scripts {
    <script src="~/js/cityAdmin.js"></script>

}