
@{
    ViewData["Title"] = "City Admin";
}

<h1>City Admin</h1>

<div id="citiesContainer">

</div>
<hr />

@*Add City*@
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="cityName" placeholder="Enter the City name here.">
    </div>
    <button id="newCitySubmit" type="submit" class="btn btn-primary">Add City</button>
</form>
<hr />

@*Add Area*@
<form>
    <div class="form-group">
        <select class="form-control" id="selectCityAddArea">
            <option value="" disabled selected hidden>City</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="areaNameAddArea" placeholder="Enter the Area name here.">
    </div>
    <button id="newAreaSubmit" type="submit" class="btn btn-primary">Add Area</button>
</form>
<hr />

@*Add PArking Lot*@
<form>
    <div class="form-group">
        <select class="form-control" id="selectCityAddParkingLot">
            <option value="" disabled selected hidden>City</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" id="selectAreaAddParkingLot">
            <option value="" disabled selected hidden>Area</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="parkingLotNameAddParkingLot" placeholder="Enter the Parking Lot name here.">
    </div>
    <button id="newParkingLotSubmit" type="submit" class="btn btn-primary">Add Parking Lot</button>
</form>



@section Scripts {
    <script src="~/js/cityAdmin.js"></script>

}