@{
    ViewData["Title"] = "Parkopolis";
}

<form>
    <div class="form-group">
        <select class="form-control" id="selectCityHome">
            <option value="" disabled selected hidden>City</option>
        </select>
    </div>
</form>

<form>
    <div class="form-group">
        <select class="form-control" id="selectAreaHome">
            <option value="" disabled selected hidden>Area</option>
        </select>
    </div>
</form>

<form>
    <div class="form-group">
        <select class="form-control" id="selectParkingLotHome">
            <option value="" disabled selected hidden>Parking Lot</option>
        </select>
    </div>
</form>

<ul class="list-group" id="resultingParkingSpaces">
    
</ul>

@section Scripts {
    <script src="~/js/home.js"></script>

}