@{
    ViewData["Title"] = "Parkopolis";
}

<form>
    <div class="form-group">
        <select class="form-control" id="selectCityHome">
            <option value="" disabled selected hidden>City</option>
        </select>
    </div>
</form>

<form>
    <div class="form-group">
        @*<label for="exampleFormControlSelect1">Area</label>*@
        <select class="form-control" id="selectAreaHome">
            <option value="" disabled selected hidden>Area</option>
        </select>
    </div>
</form>

<form>
    <div class="form-group">
        @*<label for="exampleFormControlSelect1">Parking Lot</label>*@
        <select class="form-control" id="exampleFormControlSelect1">
            <option value="" disabled selected hidden>Parking Lot</option>
            <option>Ionescu Parking</option>
            <option>Popescu Parking</option>
            <option>Flexible Spaces</option>
        </select>
    </div>
</form>

<ul class="list-group">
    <li class="list-group-item">
        <div class="container">
            <div class="d-flex justify-content-between">
                <p>IP 101</p>
                <p>
                    <span>Wash</span> <span>Roof</span> <span>Security</span> <span>10 RON</span>
                </p>
                <a href="#" class="btn btn-success">Take</a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
            <div class="d-flex justify-content-between">
                <p>IP 102</p>
                <p>
                    <span>Wash</span> <span>Roof</span> <span>Security</span> <span>10 RON</span>
                </p>
                <a href="#" class="btn btn-success">Take</a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
            <div class="d-flex justify-content-between">
                <p>IP 103</p>
                <p>
                    <span>Wash</span> <span>Roof</span> <span>Security</span> <span>10 RON</span>
                </p>
                <a href="#" class="btn btn-success">Take</a>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">
            <div class="d-flex justify-content-between">
                <p>IP 105</p>
                <p>
                    <span>Wash</span> <span>Roof</span> <span>Security</span> <span>10 RON</span>
                </p>
                <a href="#" class="btn btn-success">Take</a>
            </div>
        </div>
    </li>
</ul>

@section Scripts {
    <script src="~/js/home.js"></script>

}