
@{
    ViewData["Title"] = "Parking Admin";
}

<h1>Parking Lot Admin</h1>

<h3 id="parkingLotId1">Ionescu Parking hardcoded for now</h3>
    <hr />

<div class="container">
    <div class="list-group" id="parkingSpaceList">
    </div>
</div>
    <hr />
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="parkingSpaceName" placeholder="Enter the Parking Space Name here.">
    </div>
    <button id="newParkingSpaceSubmit" type="submit" class="btn btn-primary">Add Parking Space</button>

</form>
    
    


    @section Scripts {
        <script src="~/js/parkingAdmin.js"></script>

    }
