@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "Parking Admin";
}

<h1>Parking Lot Admin</h1>

@if (signInManager.IsSignedIn(User) && (userManager.GetUserAsync(User).Result.Type.ToString().Equals("Admin")
  || userManager.GetUserAsync(User).Result.Type.ToString().Equals("Owner")))
{

<form>
    <div class="form-group">
        <select class="form-control" id="selectCityParkingAdmin">
            <option value="" disabled selected hidden>City</option>
        </select>
    </div>
</form>
<form>
    <div class="form-group">
        <select class="form-control" id="selectAreaParkingAdmin">
            <option value="" disabled selected hidden>Area</option>
        </select>
    </div>
</form>
<form>
    <div class="form-group">
        <select class="form-control" id="selectParkingLotParkingAdmin">
            <option value="" disabled selected hidden>Parking Lot</option>
        </select>
    </div>
</form>
<hr />
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="parkingSpaceName" placeholder="Enter the Parking Space Name here.">
        <input type="number" class="form-control" id="parkingSpacePrice" step=".01" placeholder="Enter the Parking Space price here. Example: 10.45">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="hasCarWash">
            <label class="form-check-label" for="hasCarWash">Has car wash</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="hasCover">
            <label class="form-check-label" for="hasCover">Has cover</label>
        </div>
    </div>
    <button id="newParkingSpaceSubmit" type="submit" class="btn btn-primary">Add Parking Space</button>

</form>
<hr />
<div class="container">
    <div class="list-group" id="parkingSpaceList">
    </div>
</div>
    

}
else
{
    <h2>Sorry, this page is not available.</h2>
}



@section Scripts {
    <script src="~/js/parkingAdmin.js"></script>

}
