
@{
    ViewData["Title"] = "Parking Admin";
}

<h1>Parking Lot Admin</h1>

<p>Ionescu Parking<p>
    <ul>
        <li>IP 101 <button class="btn btn-outline-danger">Delete</button></li>
        <li>IP 102 <button class="btn btn-outline-danger">Delete</button></li>
        <li>IP 103 <button class="btn btn-outline-danger">Delete</button></li>
    </ul>
    <button class="btn btn-outline-success">Add Parking Space</button>


    @section Scripts {
        <script src="~/js/parkingAdmin.js"></script>

    }
